<form [formGroup]="SectionForm" (ngSubmit)="onSubmit()" novalidate>

  <!-- Section Name -->
  <div class="mb-3">
    <label for="sectionName" class="form-label">Section Name</label>
    <input
      type="text"
      id="sectionName"
      class="form-control"
      formControlName="sectionName"
    />
    <div *ngIf="" class="text-danger">{{ sectionNameError }}</div>
  </div>

  <!-- Is Pass Section Checkbox -->
  <div class="form-check mb-3">
    <input
      type="checkbox"
      id="isPassSection"
      class="form-check-input"
      formControlName="isPassSection"
    />
    <label for="isPassSection" class="form-check-label">Is Pass Section</label>
  </div>



  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary" [disabled]="SectionForm.invalid">
    Add Section
  </button>
</form>
